In [80]:
!pip install bs4

Defaulting to user installation because normal site-packages is not writeable
Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Requirement already satisfied: beautifulsoup4 in ./.local/lib/python3.10/site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in ./.local/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.5)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [167]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from IPython.display import display

In [168]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1 - Extracting Tesla Stock Data Using yfinance

In [82]:
#Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function.
tesla = yf.Ticker("TSLA")

In [83]:
tesla_data = tesla.history(period="1y")
tesla_data = tesla_data.reset_index()
tesla_data.head()

/home/negash/.local/lib/python3.10/site-packages/yfinance/utils.py:631: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-03-29 00:00:00-04:00,193.130005,195.289993,189.440002,193.880005,123660000,0.0,0.0
1,2023-03-30 00:00:00-04:00,195.580002,197.330002,194.419998,195.279999,110252200,0.0,0.0
2,2023-03-31 00:00:00-04:00,197.529999,207.789993,197.199997,207.460007,170222100,0.0,0.0
3,2023-04-03 00:00:00-04:00,199.910004,202.690002,192.199997,194.770004,169545900,0.0,0.0
4,2023-04-04 00:00:00-04:00,197.320007,198.740005,190.320007,192.580002,126463800,0.0,0.0

## Question 2 - Extracting Tesla Revenue Data Using Webscraping

In [163]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data  = requests.get(url).text

In [164]:
soup = BeautifulSoup(html_data, 'html5lib')

In [153]:
dic1 = {}
#We extract the desired data from the 'soup' object and save it in the dataframe
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    dic1[date]=revenue

In [154]:
dict2 = {"Date": list(dic1.keys()), "Revenue": list(dic1.values())}

In [155]:
tesla_revenue = pd.DataFrame.from_dict(dict2)

In [156]:
tesla_revenue.tail()

    Date Revenue
8   2013  $2,013
9   2012    $413
10  2011    $204
11  2010    $117
12  2009    $112

## Question 3 - Extracting GameStop Stock Data Using yfinance

In [88]:
game_stop = yf.Ticker("GME")

In [89]:
gme_data = game_stop.history(period="1y")

/home/negash/.local/lib/python3.10/site-packages/yfinance/utils.py:631: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [90]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-03-29 00:00:00-04:00,23.080000,23.700001,22.219999,22.459999,4161400,0.0,0.0
1,2023-03-30 00:00:00-04:00,22.600000,22.830000,22.110001,22.500000,3477600,0.0,0.0
2,2023-03-31 00:00:00-04:00,22.350000,23.070000,22.150000,23.020000,3880300,0.0,0.0
3,2023-04-03 00:00:00-04:00,22.940001,23.850000,22.660000,23.170000,4274500,0.0,0.0
4,2023-04-04 00:00:00-04:00,22.750000,23.139999,22.090000,22.350000,3421500,0.0,0.0

## Question 4 - Extracting GameStop Revenue Data Using Webscraping

In [157]:
url = " https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data  = requests.get(url).text

In [158]:
soup = BeautifulSoup(html_data, 'html5lib')

In [159]:
dic1 = {}
#We extract the desired data from the 'soup' object and save it in the dataframe
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    dic1[date]=revenue

In [160]:
dict2 = {"Date": list(dic1.keys()), "Revenue": list(dic1.values())}

In [161]:
gme_revenue = pd.DataFrame.from_dict(dict2)

In [162]:
gme_revenue.tail()

    Date Revenue
11  2009  $8,806
12  2008  $7,094
13  2007  $5,319
14  2006  $3,092
15  2005  $1,843

In [174]:
from datetime import datetime

In [ ]:
tesla_data=tesla_data[['Date']].to_date
tesla_data

In [ ]:
gme_data=tesla_data

## Question 5 - Tesla Stock and Revenue Dashboard

In [ ]:
make_graph(tesla_data, tesla_revenue, 'Tesla')


## Question 6 - GameStop Stock and Revenue Dashboard

In [ ]:
make_graph(gme_data, gme_revenue, 'GameStop')